{% extends 'adminbase.html.twig' %}
{% block head %}
  <link href="Public/CSS/theme.css" rel="stylesheet">
<script type="text/javascript" src="tiny_mce/tiny_mce.js"></script>
<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>tinymce.init({
  selector: 'textarea',  // change this value according to your HTML
});</script>
    {% endblock %}
{% block title %}Administration des commentaires signalés{% endblock %}
{% block body %}

  <div name="ListCommentReport">
    <label for="ListAllCommentsReport"><h2> Liste des commentaires signalés:</h2></label>
    {% for co in report %}


          <div class="comment-title">
               <h4> {{ co.title }}{{ co.pseudo }}</h4>
               {% if co.moderation == false %}
               <a href="updateComment&amp;id={{co.id}}" type="button" class= "btn btn-primary"
                id="updateComment"> Modérer</a>
              {% else %}
              <p>commentaire déjà modéré</p>
              {% endif %}
                   {{ co.date_publication|date('d m Y') }}
          </div>
          <div class="comment-content">
           {{co.content}}
          </div>

    {% endfor %}


{% endblock %}
